body {
    margin: 30px;
    padding: 0 0 30px 0;
    font-family: arial;
    font-size: 12px;
    color: #333;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Georgia;
    font-weight: normal;
}
h1 {
    font-size: 22px;
    border-bottom: 1px solid #eaeaea;
}
#alr-test-basic li.alrActiveItem,
#alr-test-randomstart-shuffle li.alrActiveItem {
    color: #ff0000;
}
#alr-test-randomeffect {
    position: relative;
}
#alr-test-randomeffect li {
    position: absolute;
    display: none;
}
#alr-test-randomeffect li.alrActiveItem {
    z-index: 1;
}