body {
    margin: 30px;
    padding: 0 0 30px 0;
    font-family: arial;
    font-size: 12px;
    color: #333;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Georgia;
    font-weight: normal;
}
h1 {
    font-size: 22px;
    border-bottom: 1px solid #eaeaea;
}
a,
a:visited {
    text-decoration: none;
    color: #a22003;
}
a:hover {
    text-decoration: underline;
}
li.alrActiveItem {
    color: #a22003;
    font-size: 13px;
}
li.alrHelperActiveItem {
    color: #0092AF;
    font-size: 13px;
}
#alr-test-randomeffect {
    position: relative;
    height: 15px;
}
#alr-test-randomeffect li {
    position: absolute;
    display: none;
}
#alr-test-randomeffect li.alrActiveItem {
    z-index: 1;
}
#alr-test-manual-move-elements {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#alr-test-manual-move-elements li {
    float: left;
    margin-right: 15px;
}
#alr-test-slide-mask {
    width: 100px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
#alr-test-slide {
    position: absolute;
    width: 500px;
    height: 12px;
    margin: 0;
}
#alr-test-slide li {
    float: left;
    margin-right: 40px;
}
#alr-test-slide-mask-vertical {
    position: relative;
    width: 100px;
    height: 12px;
    overflow: hidden;
}
#alr-test-slide-vertical {
    position: absolute;
    margin: 0;
}