
/* Advanced List Rotator Effect: slice */
.alrEffectSlice {
    z-index: 2;
}
.alrEffectSliceContent {
    position: relative;
}
.alrEffectSliceWrapper {
    position: absolute;
    overflow: hidden;
}